<!-- ================= FOOTER ================= -->
<footer class="footer">
    <div class="container footer-top">

        <!-- Logo & Description -->
        <div class="footer-col">
            <h2 class="footer-logo">MEDDICAL</h2>
            <p class="footer-text">
                Leading the Way in Medical<br>
                Excellence, Trusted Care.
            </p>
        </div>

        <!-- Important Links -->
        <div class="footer-col">
            <h4>Important Links</h4>
            <ul>
                <li><a href="{% url "appoinment" %}">Appointment</a></li>
                <li><a href="{% url "doctors" %}">Doctors</a></li>
                <li><a href="{% url "services" %}">Services</a></li>
                <li><a href="{% url "about" %}">About Us</a></li>
            </ul>
        </div>

        <!-- Contact Us -->
        <div class="footer-col">
            <h4>Contact Us</h4>
            <p>Call: (237) 681-812-255</p>
            <p>Email: fildineese@gmail.com</p>
            <p>Address: 0123 Some place<br>Some country</p>
        </div>

        <!-- Newsletter -->
        <div class="footer-col">
            <h4>Newsletter</h4>
            <div class="newsletter">
                <input type="email" placeholder="Enter your email address">
                <button>
                    <i class="fa-solid fa-paper-plane"></i>
                </button>
            </div>
        </div>

    </div>

    <!-- Divider -->
    <div class="footer-divider"></div>

    <!-- Bottom -->
    <div class="container footer-bottom">
        <p>© Design by Soikot chowdhury</p>

        <div class="social-icons">
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </div>
</footer>