{% extends "base.html" %}

{% block title %}Contact Page{% endblock title %}

{% block content %}

   <!-- ================= PAGE BANNER ================= -->
<section class="page-banner contact-banner">
    <div class="page-banner-overlay">
        <div class="container banner-content">

            <span class="breadcrumb">Home / Contact</span>
            <h1>Our Contacts</h1>

        </div>
    </div>
</section>
<!-- ================= MAP SECTION ================= -->
<section class="map-section">
    <div class="container">

        <div class="map-wrapper">
            <iframe
                src="https://www.google.com/maps?q=New%20York%20City&output=embed"
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>

    </div>
</section>

<!-- ================= CONTACT SECTION ================= -->
<section class="contact-main">
    <div class="container contact-wrapper">

        <!-- LEFT : FORM -->
        <div class="contact-form-box">

            <span class="section-subtitle">GET IN TOUCH</span>
            <h2 class="section-title">Contact</h2>

            <form class="contact-form">

                <div class="form-grid">
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Email">
                </div>

                <input type="text" class="full" placeholder="Subject">

                <textarea placeholder="Message"></textarea>

                <button type="submit">SUBMIT</button>

            </form>
        </div>

        <!-- RIGHT : INFO CARDS -->
        <div class="contact-info-grid">

            <div class="contact-info-card">
                <i class="fa-solid fa-phone"></i>
                <h4>EMERGENCY</h4>
                <p>(237) 681-812-255</p>
                <p>(237) 666-331-894</p>
            </div>

            <div class="contact-info-card active">
                <i class="fa-solid fa-location-dot"></i>
                <h4>LOCATION</h4>
                <p>0123 Some place</p>
                <p>9876 Some country</p>
            </div>

            <div class="contact-info-card">
                <i class="fa-solid fa-envelope"></i>
                <h4>EMAIL</h4>
                <p>fildineese@gmail.com</p>
                <p>mybestudios@gmail.com</p>
            </div>

            <div class="contact-info-card">
                <i class="fa-solid fa-clock"></i>
                <h4>WORKING HOURS</h4>
                <p>Mon-Sat 09:00-20:00</p>
                <p>Sunday Emergency only</p>
            </div>

        </div>

    </div>
</section>
{% endblock content %}